.main {
    background: #FCFCFC !important;
    display: flex;
    align-items: center;
    justify-content: center;
    .toolbar {
        width: 90% ;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        .logo {
            height: 48px;
        }
    }

}




