.main {
    background: #FCFCFC !important;
    height: 60px !important;
    display: flex;
    justify-content: center;
}

.toolbar {
    padding: 0 136px !important;
}

.iconButton {
    padding: 0 !important;
}

.link {
    text-decoration: none !important;
}

.button {
    height: 36px !important;
    width: 113px !important;
    border-radius: 30px !important;
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 20px !important;
    letter-spacing: 0.01em !important;
    text-transform: none !important;
}