@import "src/assets/styles/scss/variables";
@import "src/assets/styles/scss/mixins";

.form {
  @include text(18px, 500, 20px);
  margin-top: 36px;
  margin-left: 24px;
  margin-right: 24px;

  .input {
    @include text(16px, 500, 24px);
  }

  .buttonContainer {
    margin-top: 34px;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;

    .btn {
      width: 120px;
      border-radius: 50px;
    }
  }
}


