.container {
  display: flex;
  width: 90%;
  max-width: 1200px;
  flex-direction: column;
  margin: 0 auto;

  .back {
    margin: 24px 0 12px;
  }

  .card {
    width: 413px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .title {
    font-family: 'Montserrat', serif !important;
    font-weight: 700 !important;
    font-size: 22px !important;
    margin: 27px !important;
  }

  .icoContainer label {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #808080;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid #FFFFFF;
  }

  .icoContainer .cameraIco {
    padding-top: 2px;
  }

  .email {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    opacity: 0.5;
    color: #000;
    margin-bottom: 20px;
  }

  .button {
    box-shadow: 0 5px 10px rgba(109, 109, 109, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3) !important;
    border-radius: 30px !important;
    background: #FCFCFC !important;
    color: black !important;
    width: 127px !important;
    height: 36px !important;
    text-transform: none !important;
    font-family: 'Montserrat', serif !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    margin-bottom: 50px !important;

    .logout {
      padding: 5px;
    }
  }


}




