.main {
    position: absolute;
    top: 120px;
    left: 50%;
    margin-left: -207px;
    width: 348px;
    height: 296px;
    text-align: center;
    padding: 35px 33px 48px;
}

.title {
    text-align: center !important;
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 26px !important;
    line-height: 32px !important;
    margin: 0 0 34px !important;
}
