@import "src/assets/styles/scss/variables";
@import "src/assets/styles/scss/mixins";

.main {
    margin: 60px auto 0;
    width: 348px;
    height: 286px;
    text-align: center;
    padding: 35px 33px 48px;
    .title {
        @include text(26px, 600, 32px);
        margin: 0 0 44px !important;
    }
}


