@import "src/assets/styles/scss/variables";
@import "src/assets/styles/scss/mixins";

.form {
  margin-top: 36px;
  margin-left: 24px;
  margin-right: 24px;
  font-family: 'Montserrat', serif;
  font-weight: 500;
  font-size: 14px;

  .buttonContainer {
    margin-top: 34px;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;

    .btn {
      width: 120px;
      border-radius: 50px;
    }
  }
}


