@import "src/assets/styles/scss/variables";
@import "src/assets/styles/scss/mixins";

.main {
  .title {
    @include text(14px, 500, 17px);
    margin: 0 0 8px;
  }

  .params {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;

    .slider {
      width: 154px;
    }
  }
}