.main {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.title {
    text-align: left;
    width: 80%;
    height: 100px;
   /* background-color: #61dafb;*/
}

.name {
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 26px !important;
    line-height: 32px !important;
    padding-left : 20px;
    padding-top: 20px;
}

.button {
    width: 20%;
    height: 100px;
   /* background-color: gold;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 80%;
    border-radius: 20px !important;
}


.search {
    width: 100%;
    background-color: #b621fe;
}

.table {
    width: 100%;
    background-color: red;
}

.pagination {
    /*background-color: indigo;*/
}