@import "src/assets/styles/scss/variables";
@import "src/assets/styles/scss/mixins";

.button {
  width: 40px !important;
  height: 36px !important;

  border: 1px solid #E8E8E8 !important;
  border-radius: 2px !important;
}