@import "src/assets/styles/scss/variables";
@import "src/assets/styles/scss/mixins";

.main {
  display: flex;
  width: 90%;
  max-width: 1200px;
  flex-direction: column;
  margin: 0 auto;

  .link {
    margin: 0 0 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .icon {
      margin: 0 12px 0 0;
    }

    .title {
      @include text(14px, 400, 24px);
    }

    text-decoration: none;
    color: #000000;
  }
}


