@import "src/assets/styles/scss/variables";
@import "src/assets/styles/scss/mixins";

.main {
  display: flex;
  width: 90%;
  max-width: 1200px;
  flex-direction: column;
  margin: 0 auto;

  .search {
    margin: 0 0 24px;
  }
  .title {
    @include text(16px, 400, 20px);
    margin: 86px auto 32px;
    opacity: 0.5;
    text-align: center;
  }
}


