@import "src/assets/styles/scss/variables";
@import "src/assets/styles/scss/mixins";

.main {
  display: flex;
  width: 90%;
  max-width: 1200px;
  flex-direction: column;
  margin: 0 auto;

  .search {
    margin: 0 0 24px;
  }
}


