.editableSpan {
    margin: 5px;
    font-size: 22px;
    color: red;
}

.newText {
    margin: 5px;
    font-size: 22px;
    cursor: pointer;
}

.newText img {
    margin-left: 7px;
}

.editableSpan:hover {
    margin: 5px;
    color: green;
    cursor: pointer;
}