@import "src/assets/styles/scss/variables";
@import "src/assets/styles/scss/mixins";

.main {
  margin: 60px auto 0;
  width: 348px;
  height: 325px;
  text-align: center;
  padding: 35px 33px 48px;

  .title {
    @include text(26px, 600, 32px);
  }

  .checkEmail {
    height: 108px;
    width: 108px;
    margin: 30px 0 0;
  }

  .span {
    @include text(14px, 400, 24px);
    margin: 30px 0 0 !important;
    opacity: 0.5;
  }

  .button {
    margin: 40px 0 0;
  }

}