@import "src/assets/styles/scss/variables";
@import "src/assets/styles/scss/mixins";

.main {
  display: flex;
  width: 90%;
  max-width: 1200px;
  flex-direction: column;
  margin: 0 auto;

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 36px 0 18px;

    .title {
      @include text(22px, 600, 27px);
    }
  }

  .table {
    margin: 12px 0 11px;
  }

  .paginator {
    margin: 4px 0 28px;
  }
}
