@import "src/assets/styles/scss/variables";
@import "src/assets/styles/scss/mixins";

.main {
  display: flex;
  width: 90%;
  max-width: 1200px;
  flex-direction: column;
  margin: 0 auto;

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 36px 0;
    .title {
      @include text(22px, 600, 27px);
    }
    .button{
      @include text(16px, 500, 20px);
      border-radius: 30px !important;
      text-transform: none !important;
    }
  }
  .table{
    margin: 24px 0 22px;
  }
  .paginator{

  }
}
