.ico {
    padding-right: 7px;
    padding-left: 7px;
    cursor: pointer;
}

.ico:disabled {
    opacity: 0.5;
}

.tableHead {
    background: #EFEFEF;
}

.nameLink, .nameLink:hover, .nameLink:focus, .nameLink:active {
    text-decoration: none;
    color: #000;
}