.superInput {
    margin: 5px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    transition: 0.4s;
}

.errorInput {
    margin: 5px;
    border: 1px solid rgba(255, 0, 0, 0.33);
    border-radius: 3px;
    background-color: rgba(255, 0, 0, 0.18);
    transition: 0.4s;
}

.error {
    margin: 5px;
    color: red;
}