@import "src/assets/styles/scss/variables";
@import "src/assets/styles/scss/mixins";

.button {
    @include text(16px, 500, 20px);
    border-radius: 30px !important;
    text-transform: none !important;
    height: 36px !important;
    padding: 8px 28px !important;
}