@import "src/assets/styles/scss/variables";
@import "src/assets/styles/scss/mixins";

.paper {
  width: 400px;
  height: 500px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .title {
      @include text(20px, 600, 20px);
    }
  }

  .input {
    width: 400px;
    padding: 5px 10px 5px 18px;
  }
}
