@import "src/assets/styles/scss/variables";
@import "src/assets/styles/scss/mixins";


.messageBlock, .myMessageBlock {
  display: flex;
  align-items: end;
  justify-content: start;
  margin: 5px 10px;

  .message {
    padding: 5px 15px;
    background: #EFEFEF;
    border-radius: 7px 7px 7px 0;
    position: relative;
    word-break: break-word;
    margin: 0 10px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 100%;
      display: block;
      width: 10px;
      height: 10px;
      background: radial-gradient(20px at top left, transparent 50%, #EFEFEF 0) no-repeat right bottom;
    }

    .name {
      font-weight: bold;
      color: #1976d2;
    }

  }
}

.myMessageBlock {
  justify-content: end;
  margin-left: 50px;

  .message {
    background: #0077FF0F;
    border-radius: 7px 7px 0 7px;

    &::after {
      left: 100%;
      background: radial-gradient(20px at top right, transparent 50%, #0077FF0F 0) no-repeat left bottom;
    }
  }
}
