@import './variables';

@mixin text($fountSize, $fontWeight, $lineHeight) {
  font-family: $montserrat !important;
  font-size: $fountSize !important;
  font-weight: $fontWeight !important;
  font-style: normal !important;
  line-height: $lineHeight !important;
}

@mixin forLongTextInColumns($maxWidth) {
  display: block;
  max-width: $maxWidth;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}