.container {
    height: 50px;
    display: flex;
    align-items: center;
}

.slider {
    position: absolute;
    width: 297px;
    left: 27px;
}

.slider__track,
.slider__range {
    position: absolute;
}

.slider__track,
.slider__range {
    position: absolute;
    border-radius: 3px;
    height: 6px;
}

.slider__track {
    position: absolute;
    box-shadow: 0 0 0 1px #D1D1D1;
    background-color: #EFEFEF;
    width: 100%;
}

.slider__range {
    background-color: #0075FF;
}

.slider__left_value,
.slider__right_value {
    display: inline-block;
    width: 25px;
    text-align: center;
}

.slider__right_value {
    position: absolute;
    left: 330px
}

.thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 300px;
    left: 25px;
}

.thumb__left {
    z-index: 3;
}

.thumb__right {
    z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
    margin-top: 4px;
    pointer-events: all;
}
