@import "src/assets/styles/scss/variables";
@import "src/assets/styles/scss/mixins";


.form {
  margin-left: 24px;
  margin-right: 24px;
  @include text(18px, 500, 20px);

  .select {

    margin-top: 22px;
  }

  .input {
    margin-top: 24px;

  }

  .buttonContainer {
    margin: 34px 24px 48px;
    display: flex;
    justify-content: space-between;

    .btn {
      width: 120px;
      border-radius: 50px;
    }
  }
}


