.main {
    position: absolute;
    top: 120px;
    left: 50%;
    margin-left: -207px;
    width: 348px;
    height: 451px;
    text-align: center;
    padding: 35px 33px 42px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 41px;
}

.field {
    height: 71px;
    margin: 0 0 4px;
}

.submitButton {
    margin: 30px 0;
}

span {
    display: block;
    margin: 0 0 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    opacity: 0.5;
    color: #000000;
}

.link {
    text-decoration-line: underline;
    color: #366EFF;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}