.container {
    display: flex;
    align-items: center;
}

.text {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.select {
    margin-left: 12px;
    margin-right: 5px;
    width: 39px;
    height: 24px;
}

