@import "src/assets/styles/scss/variables";
@import "src/assets/styles/scss/mixins";

.container {
    display: flex;
    align-items: center;
    margin: 20px 0;
    .text {
        @include text(12px, 400, 15px);
    }
    .select {
        @include text(12px, 400, 15px);
        height: 24px;
        outline: none;
        margin: 0 5px;
    }
}




