@import "src/assets/styles/scss/variables";
@import "src/assets/styles/scss/mixins";

.container {
    display: flex;
    align-items: center;
    .text {
        font-family: 'Montserrat', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #000000;
    }
    .select {
        height: 24px;
        box-sizing: border-box;
        border: 1px solid #D9D9D9;
        border-radius: 2px;
        outline: none;
        @include text(16px, 600, 20px);
        margin-left: 5px;
        margin-right: 5px;
    }
}




